# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Data
# ----------------------
data/raw


# ----------------------
# Models
# ----------------------
models/*.pkl


# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log
